* {font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @import "pages/index";
  @import "pages/R32";
  @import "pages/R33";
  @import "pages/R34";
  @import "pages/R35";
  @import "layout/header";
  @import "components/animations";
  @import "pages/contacto";
  
  
  
   
  
 
  
  h2 {text-align: center;box-sizing: content-box;width: 35%; background:linear-gradient( crimson 60%, rgb(6, 24, 166) ) ;padding: 15px;border: 3px solid black;}
  

  
  .pie {background:linear-gradient(to top left, crimson 60%, rgb(6, 24, 166)); padding: 50px; justify-content: space-between; text-align: center; }
  
  /* Version mobile  */
 
  @media screen and (max-width:800px) {
   .texto-portada {height:40vh ;width: 90%;}
   .portada {height: auto;}
  .portada img {left: 50px;position: static; height: 20vh;}
  .portada--r32 img {left: 50px;position: static; height: 20vh;}
  .portada--r32 {height: 180vh;}
  .texto--r32-2 {height: 40vh;}
  .portada--r32 p {height: 40vh; width: 90%;justify-content: center;}
  .video--r32 {left: 20px;}
  .portada--r32 section {display: inline-block;}
  .portada--r33 img {left: 50px;position: static; height: 25vh;}
  .portada--r33 p {height: 40vh;width: 90%;}
  .portada--r34 img {left: 50px;position: static; height: 25vh;}
  .portada--r34 p {height: 40vh;width: 90%;font-size: 0.85rem;}
  .portada--r35 img {left: 50px;position: static; height: 25vh;}
  .portada--r35 p  {height: 50vh;width: 93%;justify-content: baseline;}
  .fondo-contacto form {height: auto;}
  .fondomodal {background-image: url(../fotos/nissanr34.gif);}
  }

  @media screen and (max-width:500px) {
    .texto-portada {height:40vh ;width: 90%;}
   .portada img {left: 50px;position: static; height: 20vh;}
   .portada--r32 img {left: 50px;position: static; height: 20vh;}
   .portada--r32 {height: 180vh;}
   .texto--r32-2 {height: 40vh;}
   .portada--r32 p {height: 40vh; width: 90%;}
   .video--r32 {left: auto;}
   .portada--r33 img {left: 50px;position: static; height: 25vh;}
   .portada--r33 p {height: 40vh;width: 90%;}
   .portada--r34 img {left: 50px;position: static; height: 25vh;}
   .portada--r34 p {height: 40vh;width: 90%;}
   .portada--r35 img {left: 50px;position: static; height: 25vh;}
   
   }