  /* Home  */
.texto-portada {box-sizing: content-box ; width:100% ; background-color: aliceblue; padding:15px; border:3px solid rgb(0, 0, 0) ; height: 50vh; }
.primer-skyline {position:absolute; right: 50px;border: 3px solid black; } 
  
.portada {background-image:url(../../fotos/fondogtr.jpg); height: 100vh; background-position: center; background-size: cover;  }
.portada img {height: 30vh;}