  /* Header  */
  .logo {width: 120px;}
  
  .bg-color {background:linear-gradient(to bottom left ,crimson 60% , rgb(6, 24, 166)) ;}
  
  h1
  
  { font-size:larger ;float: right;}
  
  ul {
    list-style-type: none;
  }